/* Global Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #666666;
    background-color: #FCFCFC;
}

/* Main */
main {
    font-size: 1.6rem;
}

li {
    list-style: none;
}

/* Header Styles */
#heading {
    position: fixed;
    width: 100%;
    min-height: 75px;
    top: 0;
    padding: 0 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; 
    background-color: #fff;
    box-shadow: 0 1rem 1rem -1rem rgba(55, 56, 58, 0.2);
    z-index: 5;
}

.logo {
    position: relative;
    font-size: 2rem;
    color: #054C73;
    margin: 1.8rem 3.5rem;
    left: -33px;
}

header nav ul {
    position: relative;
    display: flex;
    justify-content: space-between;
    right: -20px;
}

nav a {
    text-decoration: none;
    margin: 0 1.5rem;
    color: #333333;
}

/* Main Sections Styles & Global */
.section-header {
margin: 5rem 0;
}

.header {
    color: #333333;
    font-size: 2rem;
    font-weight: 700;
    margin: 1rem 0;
}

.btn {
    width: 180px;
    padding: 15px;
    border: none;
    margin: 2rem 0;
    border-radius: 30px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #054C73;
}

/* Hero Section Styles */
.discover-bg {
    background: url(./images/discover-bg.png) center;
    background-size: cover;
    width: 100%;
    height: 600px;
}

.discover {
    position: relative;
    width: 45%;
    max-width: 500px;
    height: 60%;
    top: 20%;
    left: 50%;
    padding: 5%;
    border-radius: 5px;
    color: #000000;
    background-color: #DFE9F4;
    box-sizing: border-box;
}

.discover h5 {
    font-weight: 200;
    margin: 0;
}

.discover h1 {
    color: #054C73;
}

.discover p {
    color: #333333;
    letter-spacing: 0.3px;
    word-spacing: 2px;
}

.discober-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #DFE9F4;
    padding: 3rem 5rem;
}

.discober-footer span {
    display: block;
    text-align: center;
    margin: .5rem 0;
    font-weight: bold;
    color: #333333;
}

/* Inspiration Section Styles */
#inspiration {
    margin-top: 5%;
    text-align: center;
    padding: 0 5rem;
}

.inspiration-header {
    margin: 8rem 0;
}

.gallery-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.inspiration-bg-01 {
    background: url(./images/inspiration-bg-1.jpg) center;
    border-radius: 30px 0 0 0 !important;
}

.inspiration-bg-02 {
    background: url(./images/inspiration-bg-2.jpg) center;
    position: relative;
    top: -30px;
    margin-bottom: 50px;
}

.inspiration-bg-03 {
    background: url(./images/inspiration-bg-3.jpg) center;
    border-radius: 0 0 30px 0 !important;
}

/* Beautify Section Styles */
#beautify {
    margin-top: 5%;
    background-color: #DFE9F4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 8rem 5rem;
}

.column-50 {
    width: 50%;
}

.column-40 {
    width: 40%;
}

.circle {
    position: relative;
    width: 400px;
    height: 400px;
    background-color: #19513B;
    border-radius: 50%;
    float: right;
    margin-top: 22%;
}

.beautify-img {
    position: relative;
    background: url(./images/beautify-img.jpg) center;
    background-size: cover;
    width: 90%;
    height: 750px;
    border-radius: 30px 5px 30px 5px;
    z-index: 1;
}

/* Browse Section Styles */
#browse {
    text-align: center;
    padding: 0 5rem;
}

.common-header {
    margin: 4rem 0;
}

.browse-bg-01 {
    background: url(./images/browse-bg-1.jpg) center;
}

.browse-bg-02 {
    background: url(./images/browse-bg-2.jpg) center;
}

.browse-bg-03 {
    background: url(./images/browse-bg-3.jpg) center;
}

#browse h3 {
    margin: 2rem 0;
}

/* How It Works Section Styles */
#how-it-work {
    text-align: center;
    padding: 0 5rem;
}

.handle-width {
    width: 29vw;
    padding: 3rem 0;
}

.handle-width h3 {
    padding: .8rem 0;
}

.how-bg-01 {
    background: url(./images/how-bg-1.jpg) center;
}

.how-bg-02 {
    background: url(./images/how-bg-2.jpg) center;
}

.how-bg-03 {
    background: url(./images/how-bg-3.jpg) center;
}

.circle-num {
    position: relative;
    top: 30em;
    width: 15px;
    height: 15px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 50% ;
    color: #ffffff;
    background-color: #000000;
    box-shadow: 0 0 0 8px #ffffff; /* this for white circle */
}
.circle-num span{
    display: block;
    position: relative;
    top: -11px;
    left: -5px;
}

.gallery-item {
    background-size: cover;
    width: 29vw;
    height: 500px;
    border-radius: 5px;
}

/* Join Mailing Section Styles */
#join-mailing {
    margin-top: 5%;
    background-color: #F2F5FF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8rem;
}

/* Footer Styles */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8rem 5rem;
    background-color: #03344F;
}

.column-30{
    width: 30%;
}

.instagram img {
    width: 175px;
    height: 185px;
    margin: 0 .5rem;
}

.footer-header {
    color: #ffffff;
    margin: 2rem 0;
}